<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-title">Sales Data</li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="SalesOrder" asp-action="PostSalesOrder">
                <i class="nav-icon icon-feed"></i> Create Sales Order
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="SalesOrder" asp-action="UploadSalesOrder">
                <i class="nav-icon icon-cloud-upload"></i> Upload Sales Orders
            </a>
        </li>
        <li class="nav-title">Stock Data</li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="StockOrder" asp-action="PostStockOrder">
                <i class="nav-icon icon-basket"></i> Post Stock Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-basket-loaded"></i> Upload Stock Orders
            </a>
        </li>
        <li class="nav-title">Purchase Order</li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-bag"></i> Post Purchase Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="nav-icon icon-cloud-upload"></i> Upload PO
            </a>
        </li>
        <li class="nav-item mt-auto">
            <a class="nav-link nav-link-success" href="https://my346050.sapbydesign.com" target="_blank">
                <i class="nav-icon icon-layers"></i> Go to SAP BusinessByDesign
            </a>
        </li>
    </ul>
</nav>